RewriteEngine On
# Change your rewrite-base if you are using subfolders
RewriteBase /kassa/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php?uri=$1 [QSA,L]